* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

select {
    margin-left: 20px !important;
    background: rgb(108, 117, 125);
    outline: none;
    border: none;
    border-radius: .5rem;
    color: white;
}

.form-control {
    width: 400px;
}

option {
    color: white;
}